<!-- src/app/about-us/about-us.component.html -->
<div class="about-us-container">
    <h2>About TeraitaITSpace</h2>
    <p>
      Welcome to Teraita ! We are a dedicated team of IT professionals passionate about delivering
      cutting-edge solutions to our clients. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed tincidunt, velit nec efficitur consectetur, felis ligula eleifend metus, id aliquam libero
      tellus ac ex.
    </p>
    <p>
      Our mission is to empower businesses with innovative and scalable IT solutions. Whether you need
      web development, mobile app development, or robust cloud solutions, Teraita IT Space is here to
      elevate your digital presence. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <p>
      Thank you for choosing Teraita IT Space. We look forward to being your technology partner and helping
      you achieve your goals.
    </p>
  </div>
  