h2,p{
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: blanchedalmond;
    background-attachment: scroll;
}


.home-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    /* Add a margin-top to create space for the sticky header */
    margin-top: 80px; 
  }
  
  
  